<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>
<body>
    <h1>Factura</h1>
        <p>Fecha de hoy: {{ fecha_fac }} </p>
        <h2>Emisor</h2>
        <p>CIF: {{ CIF_fac }} </p>
        <p>nombre: {{ nombre_fac }} </p>
        <p>direccion: {{ direccion_fac }}</p>
        <p>poblacio: {{ poblacion_fac }}</p>
        <p>provincia: {{ provincia_fac }}</p>
        <p>codigo postal: {{ provincia_fac }}</p>
        <p>pais: {{ pais_fac }}</p>
        <p>persona de contacto: {{ personadecontacto_fac }}</p>
        <p>email: {{ email_fac }}</p>
        <p>telefono: {{ telefono_fac }}</p>

        <h2>Cliente</h2>
        <p>CIF: {{ CIF_faccl }} </p>
        <p>nombre: {{ nombre_faccl }} </p>
        <p>direccion: {{ direccion_faccl }}</p>
        <p>poblacio: {{ poblacion_faccl }}</p>
        <p>provincia: {{ provincia_faccl }}</p>
        <p>codigo postal: {{ provincia_faccl }}</p>
        <p>pais: {{ pais_faccl }}</p>
        <p>persona de contacto: {{ personadecontacto_faccl }}</p>
        <p>email: {{ email_faccl }}</p>
        <p>telefono: {{ telefono_faccl }}</p>

        <h2>Linea de detalles</h2>
        <p>concepto: {{ concepto_fac }}</p>
        <p>precio por unidad: {{ precio_fac }}</p>
        <p>numero de unidades: {{ unidades_fac }}</p>
        <p>importe bruto: {{ importebruto_fac }}</p>
        <p>IVA: {{ iva_fac }}%</p>
        <p>importe total: {{ importetot_fac }}</p>

</body>
</html>